<%= form_with url: "/home/#{@product.id}", method: :put do |form| %>
<%= form.label :wholesale_price, "Wholesale Price: " %>
<%= form.text_field :wholesale_price, value: @response_value %>
<%= form.submit "Submit" %>
<% end %>